@import "nullstyle.scss";
@import "_vars.scss";

// working with rem
html {
    font-size: 62.5%;
}

body {
    background-color: #181818;
    font-size: 1.4rem;
    color: $white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto,"Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page {
    overflow: hidden;
}

@import "blocks/header";
@import "blocks/sidebar";
@import "blocks/main";

.container {
    margin: 0 auto;
    padding: 0 5rem;
}