<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/sidebar__header.jpg" alt="" />
    </div>

    <div class="sidebar__content">
        <div class="profile">
            <img
                src="https://placehold.it/100"
                alt=""
                class="profile__avatar"
            />
            <div class="profile__name">John Frontend</div>
            <div class="profile__prof">front-end developer's blog</div>

            <div class="social">
                <a href="#" target="_blank">
                    <img
                        src="../assets/images/instagram.svg"
                        alt="John Frontend instagram"
                    />
                </a>
                <a href="#" target="_blank">
                    <img src="../assets/images/vk.svg" alt="John Frontend vk" />
                </a>
                <a href="#" target="_blank">
                    <img
                        src="../assets/images/pinterest.svg"
                        alt="John Frontend pinterest"
                    />
                </a>
            </div>

            <!-- <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img
                            src="../assets/images/instagram.svg"
                            alt="John Frontend instagram"
                        />
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img
                            src="../assets/images/vk.svg"
                            alt="John Frontend vk"
                        />
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img
                            src="../assets/images/pinterest.svg"
                            alt="John Frontend pinterest"
                        />
                    </a>
                </li>
            </ul> -->

            <div class="profile__text">
                Front-end developer. Sites layout practice. Developing and
                maintaineng sites from 2019. I have been working at few IT
                companies and have been already spent 5000 hours developing
                sites of various difficulty.
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a href="" class="btn btn--red">My projects</a>
        <button class="btn btn--blue">Contact me</button>
    </div>
</aside>
